In [1]:
from transformers import pipeline
import pandas as pd
import numpy as np
import time
pipe = pipeline("translation", model="Helsinki-NLP/opus-mt-en-ar")

C:\Users\Weaam Shaaban\anaconda3\Lib\site-packages\transformers\utils\generic.py:260: UserWarning: torch.utils._pytree._register_pytree_node is deprecated. Please use torch.utils._pytree.register_pytree_node instead.
  torch.utils._pytree._register_pytree_node(
C:\Users\Weaam Shaaban\anaconda3\Lib\site-packages\transformers\models\marian\tokenization_marian.py:194: UserWarning: Recommended: pip install sacremoses.
  warnings.warn("Recommended: pip install sacremoses.")

In [2]:
file1 = open("page-1.txt", "r+" ,encoding='utf-8')

In [3]:
page_1 = file1.readlines()

In [4]:
lst_of_en_sent = []
lst_of_ar_sent = []
lst_of_time = []
for i in range(0, len(page_1)):
    lst_of_en_sent.append(str(page_1[i]))
    start_time = time.time()
    lst_of_ar_sent.append(pipe(page_1[i]))
    lst_of_time.append(str(np.round((time.time() - start_time), decimals=2)))

Your input_length: 476 is bigger than 0.9 * max_length: 512. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)

In [5]:
df = pd.DataFrame({"English":lst_of_en_sent, "Arabic":lst_of_ar_sent, "time/m.s":lst_of_time})

In [6]:
df[:200]

,English,Arabic,time/m.s
0,"It was the best of times, it was the worst of ...",[{'translation_text': 'لقد كان أفضل الأوقات، ك...,2.87
1,\n,[{'translation_text': 'ألف - الوظائف الممولة م...,0.24
2,There were a king with a large jaw and a queen...,[{'translation_text': 'وكان هناك ملك بفك كبير ...,2.02
3,\n,[{'translation_text': 'ألف - الوظائف الممولة م...,0.31
4,It was the year of Our Lord one thousand seven...,[{'translation_text': 'لقد كانت سنة ملكنا الوا...,5.82
...,...,...,...
195,\n,[{'translation_text': 'ألف - الوظائف الممولة م...,0.28
196,“You had abandoned all hope of being dug out?”\n,"[{'translation_text': '""لقد تخليت عن كل أمل في...",0.54
197,\n,[{'translation_text': 'ألف - الوظائف الممولة م...,0.27
198,“Long ago.”\n,"[{'translation_text': '"" في الماضي "" .'}]",0.33
199,\n,[{'translation_text': 'ألف - الوظائف الممولة م...,0.25

In [9]:
df.to_csv("~\Downloads\story.csv", sep='\t')